.Navbar-Header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-left: 2%;
    padding-right: 2%;
    position:fixed;
    top:0;
    z-index:1000000;
}

.Navbar.logo-container {
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
}